{% load static %}
<style>
   #icon1 {
     font-size: 40px;
     text-decoration: none;
     color: #FF4500;
 	 padding: 0px;
	   margin-top: 15%;
	   margin-left:25%;
     display: inline-block;
   }
   #icon2 {
     font-size: 38px;
     text-decoration: none;
     color: #FF4500;
	 padding: 0px;
  	margin-left:25%;
  	margin-top: 15%;
     display: inline-block;
   }

   #a1 {
     text-decoration: none;
     margin-left: 45%;
     padding: 0px;
     display: inline-block;
   }
   #a2 {
     text-decoration: none;
     margin-left: 1%;
     padding: 0px;
     display: inline-block;
   }
   @media only screen and (max-width: 600px) {
	#a1 {
     text-decoration: none;
     margin-left: 36%;
     padding: 0px;
     display: inline-block;
   }
}
   
</style>
<div class="footer navbar-fixed-bottom my_footer">
  <a id="a1" href="https://www.instagram.com/ultimatecards5/" target="_blank"><i id="icon1" class="fab fa-instagram"></i></a>
  <a id="a2"href="mailto:troykato5@gmail.com" target="_blank"><i id="icon2" class="far fa-envelope"></i></a>
</div>
